@model Haver_Boecker_Niagara.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h1>Machine Details</h1>
<hr />
<div>
    
    <div class="p-4 shadow-sm card-container">
        <div class="row">
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SerialNumber)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InternalPONumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InternalPONumber)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        Name Plate Received?
                    </dt>
                    <dd class="col-sm-10">
                        @(Model.NamePlateStatus ? "Yes" : "No")
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MachineSize)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MachineSize)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MachineClass)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MachineClass)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <div class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MachineSizeDesc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MachineSizeDesc)
                    </dd>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        Machine Specifications
                    </dt>
                    <dd class="col-sm-10">
                        
                        
                        <div>
                            @Html.DisplayNameFor(model => model.Media)
                            @Html.DisplayFor(model => model.Media)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Base)
                            @Html.DisplayFor(model => model.Base)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.SparePartsMedia)
                            @Html.DisplayFor(model => model.SparePartsMedia)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.AirSeal)
                            @Html.DisplayFor(model => model.AirSeal)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.CoatingOrLining)
                            @Html.DisplayFor(model => model.CoatingOrLining)
                        </div>
                        <div>
                            @Html.DisplayNameFor(model => model.Disassembly)
                            @Html.DisplayFor(model => model.Disassembly)
                        </div>
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.BudgetedAssemblyHours)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.BudgetedAssemblyHours)
                    </dd>
                </dl>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ActualAssemblyHours)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ActualAssemblyHours)
                    </dd>
                </dl>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ActualReworkHours)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ActualReworkHours)
                    </dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ScopeNotes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ScopeNotes)
                    </dd>
                </dl>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PreOrderNotes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PreOrderNotes)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row">
            
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                
            </div>
        </div>
        <div class="d-flex justify-content-end gap-2 mt-4">
            <a asp-action="Index" class="btn-primary-close">Close</a>
            <a asp-action="Edit" asp-route-id="@Model?.MachineID" class="btn-edit">Edit</a>
        </div>
    </div>
</div>


