@model Haver_Boecker_Niagara.Models.Machine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Machine</h1>
<hr />
<div class="p-4 shadow-sm card-container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="MachineID" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SerialNumber" class="control-label">Serial Number <span class="required-fields">*</span></label>
                    <input asp-for="SerialNumber" class="form-control" />
                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="InternalPONumber" class="control-label">PO# <span class="required-fields">*</span></label>
                        <input asp-for="InternalPONumber" class="form-control" />
                        <span asp-validation-for="InternalPONumber" class="text-danger"></span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MachineSize" class="control-label">Size <span class="required-fields">*</span></label>
                    <input asp-for="MachineSize" class="form-control" />
                    <span asp-validation-for="MachineSize" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MachineClass" class="control-label">Class <span class="required-fields">*</span></label>
                        <input asp-for="MachineClass" class="form-control" />
                        <span asp-validation-for="MachineClass" class="text-danger"></span>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="MachineSizeDesc" class="control-label">Description <span class="required-fields">*</span></label>
                    <input asp-for="MachineSizeDesc" class="form-control" />
                    <span asp-validation-for="MachineSizeDesc" class="text-danger"></span>
                </div>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="SparePartsMedia" /> @Html.DisplayNameFor(model => model.SparePartsMedia)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Base" /> @Html.DisplayNameFor(model => model.Base)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="AirSeal" /> @Html.DisplayNameFor(model => model.AirSeal)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="CoatingOrLining" /> @Html.DisplayNameFor(model => model.CoatingOrLining)
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Disassembly" /> @Html.DisplayNameFor(model => model.Disassembly)
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Media" /> @Html.DisplayNameFor(model => model.Media)
                    </label>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end gap-2 mt-4">
            <input type="submit" value="Update" class="btn-edit" id="btnEdit" />
            </div>

        </form>
    </div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

