@model IEnumerable<Haver_Boecker_Niagara.Models.Machine>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-2">Machines</h1>

 <!--<p>
     <a asp-action="Create">Create New</a>
</p>-->
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn mb-2 @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse  @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by Order Number:</label>
                        @Html.TextBox("SearchOrderNo", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by Serial Number:</label>
                        @Html.TextBox("SearchSerialNo", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by PO Number:</label>
                        @Html.TextBox("SearchPONo", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group mt-2 col-md-2">
                    <input type="submit" name="actionButton" value="Filter"
                           class="btn btn-outline-primary" />
                    <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button type="submit" name="actionButton" value="OrderNo" class="text-nowrap fw-bold btn p-0"
                            formaction="@Url.Action("Index", new { sortField = "OrderNo", sortDirection = (ViewData["SortField"] as string == "OrderNo" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        Order # <span style="font-size: 10pt;">▼▲</span>
                    </button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InternalPONumber)
                </th>
                <th>
                    <button type="submit" name="actionButton" value="Size" class="text-nowrap fw-bold btn p-0"
                            formaction="@Url.Action("Index", new { sortField = "Size", sortDirection = (ViewData["SortField"] as string == "Size" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.MachineSize) <span style="font-size: 10pt;">▼▲</span>
                    </button>
                </th>
                <th>
                    <button type="submit" name="actionButton" value="Class" class="text-nowrap fw-bold btn p-0"
                            formaction="@Url.Action("Index", new { sortField = "Class", sortDirection = (ViewData["SortField"] as string == "Class" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.MachineClass) <span style="font-size: 10pt;">▼▲</span>
                    </button>
                </th>
                <th>
                    <button type="submit" name="actionButton" value="Description" class="text-nowrap fw-bold btn p-0"
                            formaction="@Url.Action("Index", new { sortField = "Description", sortDirection = (ViewData["SortField"] as string == "Description" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.MachineSizeDesc) <span style="font-size: 10pt;">▼▲</span>
                    </button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Media)
                </th>
                <th class="text-nowrap">
                    Spare Parts
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Base)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.AirSeal)
                </th>
                <th class="text-nowrap">
                    @Html.DisplayNameFor(model => model.CoatingOrLining)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disassembly)
                </th>
            
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.SalesOrder.OrderNumber)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.SerialNumber)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.InternalPONumber)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.MachineSize)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.MachineClass)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.MachineSizeDesc)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Media)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.SparePartsMedia)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Base)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.AirSeal)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.CoatingOrLining)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Disassembly)
                    </td>

                    <td class="text-nowrap">
                        <a asp-action="Edit" asp-route-id="@item.MachineID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MachineID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MachineID">Delete</a>
                    </td>
                </tr>
            }   
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>