@model IEnumerable<Haver_Boecker_Niagara.Models.GanttSchedule>

@{
    ViewData["Title"] = "Gantt Schedules";
}

<form asp-action="Index" method="get">
    <div class="main-container">
        <h1 class="mt-2">Gantt Schedules</h1>

        <input type="hidden" name="sortDirection" value="@ViewData["SortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["SortField"]" />

        <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <button class="search-btn btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                    data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Search @ViewData["NumberFilters"]
            </button>
            <div class="d-flex justify-content-end">
                <a asp-action="Create" class="btn create-btn">Create New</a>
                <a asp-action="DownloadExcel" class="btn btn-success visually-hidden">Download Excel</a>
            </div>
        </div>

        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Search by Order Number:</label>
                    @Html.TextBox("searchOrderNo", null, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Search by Customer:</label>
                    @Html.TextBox("searchCustomer", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group mt-2 col-md-2">
                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn-clear">Clear</a>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Customer</th>
                    <th>Engineer</th>
                    <th>Machines</th>
                    <th>Pre-Orders</th>
                    <th>Readiness to Ship</th>
                    <th>Promise Date</th>
                    <th>Deadline</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SalesOrder.OrderNumber</td>
                        <td>@(item.SalesOrder.Customer?.Name ?? "N/A")</td>
                        <td>@string.Join(", ", item.SalesOrder.EngineeringPackage.Engineers.Select(e => e.Initials))</td>
                        <td>
                            @if (item.EngineeringOnly)
                            {
                                <span>Engineering Only</span>
                            }
                            else
                            {
                                var machine = item.SalesOrder.Machines.FirstOrDefault(m => m.MachineID == item.MachineID);
                                <span>@(machine?.MachineDescription ?? "N/A")</span>
                            }
                        </td>
                        <td>@item.PreOrdersExpected</td>
                        <td>@item.ReadinessToShipExpected</td>
                        <td>@item.PromiseDate.ToShortDateString()</td>
                        <td>@item.DeadlineDate?.ToShortDateString()</td>
                        <td class="text-nowrap text-center">
                            
                            <a asp-action="Edit" asp-route-id="@item.GanttID" class="ed-det-del-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                            </a>
                            <a asp-action="Details" asp-route-id="@item.GanttID" class="ed-det-del-btn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <partial name="_PagingNavBar" />
    </div>
</form>