@model IEnumerable<Haver_Boecker_Niagara.Models.PurchaseOrder>

@{
    Haver_Boecker_Niagara.Models.SalesOrder salesOrder = (Haver_Boecker_Niagara.Models.SalesOrder)ViewBag.SalesOrder;
    <partial name="_SalesOrderDetail" model="salesOrder" />
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <input type="hidden" name="SalesOrderID" value="@salesOrder.SalesOrderID" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["numberFilters"]
        </button><br />
        <div class="collapse @ViewData["ShowFitler"]" id="collapseFilter">
            <div class="collapse card card-body bg-light" style="padding-top: 10px; padding-bottom: 5px;" id="collapseFilter">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by PO Number:</label>
                        @Html.TextBox("SearchPONumber", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by Due Date:</label>
                        @Html.TextBox("SearchDueDate", null, new { @class = "form-control", type = "date" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by Vendor:</label>
                        @Html.TextBox("SearchVendor", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search by Order Number:</label>
                        @Html.TextBox("SearchOperations", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group col-md-4 align-self-end">
                    <input type="submit" name="actionButton" value="Apply" class="btn btn-primary" />
                    <a asp-action="Index" asp-route-SalesOrderID="@salesOrder.SalesOrderID">Clear</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button type="submit" name="actionButton" value="PurchaseOrderNumber" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "PurchaseOrderNumber", sortDirection = (ViewData["SortField"] as string == "PurchaseOrderNumber" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
                    </button>
                </th>
                <th>
                    <button type="submit" name="actionButton" value="PODueDate" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "PODueDate", sortDirection = (ViewData["SortField"] as string == "PODueDate" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.PODueDate)
                    </button>
                </th>
                <th>
                    <button type="submit" name="actionButton" value="VendorName" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "VendorName", sortDirection = (ViewData["SortField"] as string == "VendorName" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.Vendor.Name)
                    </button>
                </th>
                <th class="text-nowrap">
                    <button type="submit" name="actionButton" value="OrderNumber" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "OrderNumber", sortDirection = (ViewData["SortField"] as string == "OrderNumber" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        Order Number
                    </button>
                </th>
                <th>
                    <a asp-controller="SalesPOs" asp-action="Add"
                        asp-route-SalesOrderID="@salesOrder.SalesOrderID" asp-route-SONumber="@salesOrder.OrderNumber">
                        <span class="btn btn-success" data-bs-toggle="tooltip"
                                title="Add Purchase Order"><strong>&#x271A; Add</strong></span>
                    </a>
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
                    </td>
                    <td>
                        @item.PODueDate.Value.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Vendor.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesOrder.OrderNumber)
                    </td>
                    <td>
                        <a asp-controller="SalesPOs" asp-action="Update" asp-route-id="@item.PurchaseOrderID"
                            class="btn btn-sm btn-outline-primary" role="button"
                            data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                            &#x270D
                        </a> 
                        <a asp-controller="SalesPOs" asp-action="Remove" asp-route-id="@item.PurchaseOrderID"
                            class="btn btn-sm btn-outline-danger" role="button"
                            data-bs-toggle="tooltip" title="Delete @ViewData["ControllerFriendlyName"]">
                            &#x270D
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
    <div>
        <a asp-action="Edit" asp-controller="SalesOrders" asp-route-id="@salesOrder.SalesOrderID">Edit @salesOrder.OrderNumber</a> | 
        <a href='@ViewData["returnURL"]'>Back to SalesOrder List</a>
    </div>
</form>
