@model Haver_Boecker_Niagara.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
}

<div class="detailed-container">
    <h1>PurchaseOrder Details</h1>
    <div class="container-detailed-3">
        <div>
            <dl class="column">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PurchaseOrderNumber)
                </dd>
            </dl>
        </div>
        <div>
            <dl class="column">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PODueDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PODueDate)
                </dd>
            </dl>
        </div>
    </div>
    <div class="container-detailed-3">
        <div>
            <dl class="column">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Vendor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Vendor.Name)
                </dd>
            </dl>
        </div>
        <div>
            <dl class="column">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.SalesOrder)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SalesOrder.OrderNumber)
                </dd>
            </dl>
        </div>
    </div>
    <div>
        <br />
        <a asp-action="Edit" asp-route-id="@Model?.PurchaseOrderID" class="btn-edit">Edit</a>
        <a asp-action="Index" class="btn-primary-close" id="btnClose">Close</a>
    </div>
</div>