@model Haver_Boecker_Niagara.Models.Engineer

@{
    ViewData["Title"] = "Details";
}

<div class="detailed-container">

    <div>
        <h1>Engineer Details</h1>
        <div>
            <button class="btn btn-success">Export to PDF</button>
            <button class="btn btn-success">Update</button>
        </div>
        <div class="container-detailed-3">
            <div>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                </dl>
            </div>
            <div>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="container-detailed-3">
            
            <div>
                <dl class="column">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>
            </div>

        </div>


       
    </div>
    <div class="btn-edit-container">
        <br />
        <a asp-action="Edit" asp-route-id="@Model?.EngineerID" class="btn-edit">Edit</a>
        <a asp-action="Index" class="btn-primary-close" id="btnClose">Close</a>
    </div>
</div>
