@model Haver_Boecker_Niagara.ViewModels.OperationsScheduleViewModel

@{
    ViewData["Title"] = "Operations Schedule Details";
}

<div class="detailed-container">
    <h1>@ViewData["Title"]</h1>
    <div class="container-detailed-3">
        <div>
            <h6>Sales Order</h6>
            <hr />
            <p>@Model.SalesOrder</p>
        </div>

        <div>
            <h6>Customer Name</h6>
            <hr />
            <p>@Model.CustomerName</p>
        </div>

        

        
    </div>

    <div class="container-detailed-3">
        <div>
            <h6>Serial / Internal PO</h6>
            <hr />
            <ul>
                @foreach (var serialAndIPO in Model.SerialAndIPO)
                {
                    <li>@serialAndIPO</li>
                }
            </ul>
        </div>
        <div>
            <h6>Machines</h6>
            <hr />
            <ul>
                @foreach (var machine in Model.Machines)
                {
                    <li>@machine</li>
                }
            </ul>
        </div>
        
        
    </div>

    <div class="container-detailed-3">
        <div>
            <h6>Purchase Orders</h6>
            <hr />
            <ul>
                @foreach (var po in Model.PurchaseOrders)
                {
                    <li>@po</li>
                }
            </ul>
        </div>
        <div>
            <h6>Vendors</h6>
            <hr />
            <ul>
                @foreach (var vendor in Model.Vendors)
                {
                    <li>@vendor</li>
                }
            </ul>
        </div>
        
    </div>


    <div class="container-detailed-3">
        

        <div>
            <h6>Delivery Date</h6>
            <hr />
            <p>@(Model.DeliveryDate?.ToString("d") ?? "N/A")</p>
        </div>
        <div>
            <h6>Package Release</h6>
            <hr />
            <ul>
                @foreach (var engineer in Model.PackageRelease.Engineers)
                {
                    <li>@engineer</li>
                }
            </ul>
            <p>Release Summary: @Model.PackageRelease.EstimatedReleaseSummary</p>
            <p>Approval Summary: @Model.PackageRelease.EstimatedApprovalSummary</p>
        </div>
        
        
    </div>
    <div class="container-detailed-3">
        <div>
            <h6>Notes</h6>
            <hr />
            <ul>
                <li>Pre-Order Notes: @Model.Notes.PreOrderNotes</li>
                <li>Scope Notes: @Model.Notes.ScopeNotes</li>
                <li>Actual Assembly Hours: @Model.Notes.ActualAssemblyHours</li>
                <li>Actual Rework Hours: @Model.Notes.ActualReworkHours</li>
                <li>Budgeted Assembly Hours: @Model.Notes.BudgetedAssemblyHours</li>
                <li>Name Plate Status: @Model.Notes.NamePlateStatus</li>
                <li>Extra Notes: @Model.Notes.ExtraNotes</li>
            </ul>
        </div>

        <div>
            <h6>Additional Details</h6>
            <hr />
            <ul>
                <li>Media: @Model.AdditionalDetails.Media</li>
                <li>Spare Parts: @Model.AdditionalDetails.SparePartsMedia</li>
                <li>Base: @Model.AdditionalDetails.Base</li>
                <li>Air Seal: @Model.AdditionalDetails.AirSeal</li>
                <li>Coating/Lining: @Model.AdditionalDetails.CoatingOrLining</li>
                <li>Disassembly: @Model.AdditionalDetails.Disassembly</li>
            </ul>
        </div>
        
    </div>


   

    <p class="btn">
        <a href="@Url.Action("Index")" class="btn-primary-close">close</a>
    </p>
</div>

