@model Haver_Boecker_Niagara.Models.OperationsSchedule

@{
    ViewData["Title"] = "Details";
    Layout = "AssignPackage.cshtml";
}

<h1>Details</h1>

<div>
    <h4>OperationsSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreOrderNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreOrderNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScopeNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScopeNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAssemblyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAssemblyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualReworkHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualReworkHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BudgetedAssemblyHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetedAssemblyHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlateStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePlateStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesOrder.OrderNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OperationsID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
