@model IEnumerable<Haver_Boecker_Niagara.Models.OperationsSchedule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePartsMedia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Base)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirSeal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoatingOrLining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disassembly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Media)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SparePartsMedia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Base)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirSeal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CoatingOrLining)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disassembly)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.OperationsID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OperationsID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OperationsID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
