@model IEnumerable<Haver_Boecker_Niagara.ViewModels.OperationsScheduleViewModel>

@{
    ViewData["Title"] = "Operations Schedules";
}

<form asp-action="Index" method="get">

    <div class="main-container">

    <h1>@ViewData["Title"]</h1>

        <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

        <div class="d-flex justify-content-between align-items-center mb-3">
            <button class="search-btn btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                    data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Search @ViewData["numberFilters"]
            </button>
            <div class="btn-group">
                <a href="@Url.Action("DownloadMachineSchedule", "OperationsSchedules")" class="download-btn">Download Spreadsheet</a>
                <a href="@Url.Action("Create", "OperationsSchedules")" class="btn create-btn">Create New</a>
            </div>
        </div>


        <div class="form-horizontal">
            <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
                <div class="col">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Search by Sales Order No:</label>
                            @Html.DropDownList("SearchSales", (SelectList)ViewBag.SalesOrders ?? new SelectList(Enumerable.Empty<SelectListItem>()), "Select a Sales Order", new { @class = "form-control" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Search by Customer Name: </label>
                            @Html.DropDownList("SearchCustomer", (SelectList)ViewBag.Customers ?? new SelectList(Enumerable.Empty<SelectListItem>()), "Select a Customer", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">After Delivery Date:</label>
                            <input type="date" name="searchDelivery" class="form-control" value="@ViewData["searchDelivery"]" />
                        </div>
                    </div>
                    <div class="form-group mt-2 col-md-2 align-self-end">
                        <input type="submit" name="actionButton" value="Filter"
                               class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn-clear">Clear</a>
                    </div>
                </div>
                
            </div>
        </div>

        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button type="submit" name="actionButton" value="SalesOrder" class="btn btn-toolbar"
                                formaction="@Url.Action("Index", new { sortField = "SalesOrder", sortDirection = (ViewData["sortField"] as string == "SalesOrder" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            @Html.DisplayNameFor(model => model.SalesOrder)
                        </button>
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="CustomerName" class="btn btn-toolbar"
                                formaction="@Url.Action("Index", new { sortField = "CustomerName", sortDirection = (ViewData["sortField"] as string == "CustomerName" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="Machines" class="btn btn-toolbar" disabled>
                            @Html.DisplayNameFor(model => model.Machines)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="SerialAndIPO" class="btn btn-toolbar" disabled>
                            @Html.DisplayNameFor(model => model.SerialAndIPO)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="Engineers" class="btn btn-toolbar" disabled>
                            @Html.DisplayNameFor(model => model.PackageRelease.Engineers)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="Vendors" class="btn btn-toolbar" disabled>
                            @Html.DisplayNameFor(model => model.Vendors)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="PurchaseOrders" class="btn btn-toolbar" disabled>
                            @Html.DisplayNameFor(model => model.PurchaseOrders)
                        </button>
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="DeliveryDate" class="btn btn-toolbar"
                                formaction="@Url.Action("Index", new { sortField = "DeliveryDate", sortDirection = (ViewData["sortField"] as string == "DeliveryDate" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            @Html.DisplayNameFor(model => model.DeliveryDate)
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="Additional Details" class="btn btn-toolbar" disabled>
                            Additional
                        </button>
                    </th>
                    <th>
                        <button type="submit" value="Actions" class="btn btn-toolbar" disabled>
                            Actions
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.SalesOrder</td>
                        <td>@item.CustomerName</td>
                        <td>
                            @foreach (var machine in item.Machines)
                            {
                                <div>@machine</div>
                            }
                        </td>
                        <td>
                            @foreach (var serialAndIPO in item.SerialAndIPO)
                            {
                                <div>@serialAndIPO</div>
                            }
                        </td>
                        <td>
                            @foreach (var engineer in item.PackageRelease.Engineers)
                            {
                                <div>@engineer</div>
                            }
                            <p>P : @item.PackageRelease.EstimatedReleaseSummary</p>
                            <p>A : @item.PackageRelease.EstimatedApprovalSummary</p>
                        </td>
                        <td>
                            @foreach (var vendor in item.Vendors)
                            {
                                <div>@vendor</div>
                            }
                        </td>
                        <td>
                            @foreach (var po in item.PurchaseOrders)
                            {
                                <div>@po</div>
                            }
                        </td>
                        <td>@(item.DeliveryDate?.ToString("d") ?? "N/A")</td>
                        <td>
                            <div>Media: @item.AdditionalDetails.Media</div>
                            <div>Spare Parts: @item.AdditionalDetails.SparePartsMedia</div>
                            <div>Base: @item.AdditionalDetails.Base</div>
                            <div>Air Seal: @item.AdditionalDetails.AirSeal</div>
                            <div>Coating/Lining: @item.AdditionalDetails.CoatingOrLining</div>
                            <div>Disassembly: @item.AdditionalDetails.Disassembly</div>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "OperationsSchedules", new { id = item.Id })" class="ed-det-del-btn">Edit</a> <br /><br />
                            <a href="@Url.Action("Details", "OperationsSchedules", new { orderNumber = item.SalesOrder })" class="ed-det-del-btn">Details</a><br /><br />
                            <a href="@Url.Action("Delete", "OperationsSchedules", new { id = item.Id })" class="ed-det-del-btn">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <partial name="_PagingNavBar" />

</form>
