@model Haver_Boecker_Niagara.Models.SalesOrder

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Sale Order</h1>
<hr />
<div class="p-4 shadow-sm card-container">
    <div>
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SalesOrderID" />
            <input type="hidden" asp-for="OrderNumber" />

            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label><span id="OrderNumber">: <strong>@Model.OrderNumber</strong></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Price" class="control-label">Price <span class="required-fields">*</span></label>
                        <input asp-for="Price" class="form-control" required />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList(typeof(Status))">
                    
                        </select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CustomerID" class="control-label">Customer Name</label>
                        <select asp-for="CustomerID" class="form-control" asp-items="ViewBag.CustomerID"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CompletionDate" class="control-label"></label>
                        <input asp-for="CompletionDate" type="date" class="form-control" />
                        <span asp-validation-for="CompletionDate" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ActualCompletionDate" class="control-label"></label>
                        <input asp-for="ActualCompletionDate" type="date" class="form-control" />
                        <span asp-validation-for="ActualCompletionDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ExtraNotes" class="control-label"></label>
                        <input asp-for="ExtraNotes" class="form-control" />
                        <span asp-validation-for="ExtraNotes" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group mt-1">
                <label asp-for="EngineeringPackageID" class="control-label">Engineering Package ID:</label><strong>  @Model.EngineeringPackageID</strong>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mt-2">
                    <div class="d-flex justify-content-between">
                        <label class="control-label">Related Purchase Orders</label>
                        <div class="d-flex justify-content-end gap-1 mb-1">
                            <button type="button" id="btnDeletePO" title="Click to delete the selected Purchase Order." class="btn btn-danger btn-sm">
                                <strong>Delete</strong>
                            </button>
                            <button asp-action="SetPOViewBag" type="button" id="btnEditPO" title="Click to edit the selected Purchase Order." class="btn-edit-specific">
                                <strong>Edit</strong>
                            </button>
                            <button type="button" title="Click to create a new Purchase Order." data-bs-toggle="modal" data-bs-target="#purchaseOrderModal" class="create-btn">
                                <strong>Create</strong>
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        @Html.ListBox("selectedPOOptions", (MultiSelectList)ViewBag.selPOOpts, new { @size = 8, @class = "form-control" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="form-group col-md-6 mt-4">
                    <div class="d-flex justify-content-between">
                        <label class="control-label">Related Machines</label>
                        <div class="d-flex justify-content-end gap-1 mb-1">
                            <button type="button" id="btnLeft" title="Click to remove the selected Machine" class="btn btn-danger btn-sm">
                                <strong>Remove</strong>
                            </button>
                            <button asp-action="SetMachineViewBag" type="button" id="btnEditMachine" title="Click to edit the selected Machine." class="btn-edit-specific">
                                <strong>Edit</strong>
                            </button>
                            <button type="button" title="Click to create a new Machine." data-bs-toggle="modal" data-bs-target="#machineModal" data-backdrop="static" class="create-btn">
                                <strong>Create</strong>
                            </button>
                        </div>
                    </div>
                    @Html.ListBox("selectedMachineOptions", (MultiSelectList)ViewBag.selMachineOpts, new { @size = 8, @class = "form-control" })

                </div>
                <div class="form-group col-md-6 mt-4">
                    <div class="d-flex justify-content-between mb-1">
                        <label class="control-label">All Machines</label>
                        <button type="button" id="btnRight" title="Click to add the selected Machine" class="create-btn">
                            <strong>Add</strong>
                        </button>
                    </div>
                    @Html.ListBox("availableMachineOptions", (MultiSelectList)ViewBag.availMachineOpts, new { @size = 8, @class = "form-control" })

                </div>
            </div>
            
            <div class="d-flex justify-content-end gap-2 mt-4">
                <a asp-action="Index" class="btn btn-primary-close">Close</a>
                <button type="reset" class="btn btn-primary-close">Reset</button>
                <button type="submit" value="Edit" class="btn btn-primary btn-edit" id="btnSubmit">Edit</button>
            </div>

        </form>

        <partial name="_purchaseOrderModal" model="@(new PurchaseOrder { SalesOrderID = Model.SalesOrderID })"/>
        <partial name="_machineModal" model="@(new MachineVM { SalesOrderID = Model.SalesOrderID })" />
        <div id="partialPOContainer"></div>
        <div id="partialMachineContainer"></div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $("#btnEditPO").click(function () {
                var sels = $("#selectedPOOptions").val();
                if (!sels || sels.length != 1 ) {
                    alert("Please select one option to edit.");
                    return;
                }
                var selectedIdsString = sels.join(",");
                $.ajax({
                    url: '@Url.Action("SetPOViewBag", "SalesOrders")',
                    type: 'GET',
                    data: { selectedOptions: selectedIdsString },
                    traditional: true,
                    success: function (data) {
                        $("#partialPOContainer").html(data);
                        var modalElement = document.getElementById('purchaseOrderModalEdit');
                        if (modalElement) {
                            var myModal = new bootstrap.Modal(modalElement, { backdrop: 'static' });
                            myModal.show();
                        } else {
                            console.error("Modal element not found!");
                        }
                    },
                    error: function () {
                        alert("Error loading partial view.");
                    }
                });
            });
            $("#btnEditMachine").click(function () {
                var sels = $("#selectedMachineOptions").val();
                if (!sels || sels.length != 1 ) {
                    alert("Please select one option to edit.");
                    return;
                }
                var selectedIdsString = sels.join(",");
                $.ajax({
                    url: '@Url.Action("SetMachineViewBag", "SalesOrders")',
                    type: 'GET',
                    data: { selectedOptions: selectedIdsString, id: @(Url.ActionContext.RouteData.Values["id"]) },
                    traditional: true,
                    success: function (data) {
                        $("#partialMachineContainer").html(data);
                        var modalElement = document.getElementById('machineModalEdit');
                        if (modalElement) {
                            var myModal = new bootstrap.Modal(modalElement, { backdrop: 'static' });
                            myModal.show();
                        } else {
                            console.error("Modal element not found!");
                        }
                    },
                    error: function () {
                        alert("Error loading partial view.");
                    }
                });
            });
        });
    </script>
    <script src="~/js/managePurchaseOrder.js"></script>
    <script src="~/js/manageMachine.js"></script>
}
