@model IEnumerable<Haver_Boecker_Niagara.Models.SalesOrder>

@{
    ViewData["Title"] = "Sales Orders";
}

<form asp-action="Index" method="get">
    <div class="main-container">
        <h1 class="mt-2">Operation Schedule</h1>

        <input type="hidden" name="sortDirection" value="@ViewData["SortDirection"]" />
        <input type="hidden" name="sortField" value="@ViewData["SortField"]" />

        <div class="d-flex justify-content-between align-items-center mb-3">
            <button class="search-btn btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
            data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Search @ViewData["NumberFilters"]
            </button>
            <a asp-action="Create" class="btn create-btn">Create New</a>
            <a asp-action="DownloadMachineSchedule" class="btn btn-success">Download Excel</a>
        </div>

        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Search by Order Number:</label>
                    @Html.TextBox("SearchOrderNo", null, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-3">
                    <label>Search by Customer:</label>
                    @Html.TextBox("SearchCustomer", null, new { @class = "form-control" })
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label>Search by Status:</label>
                    <select name="searchStatus" id="searchStatus" class="form-control" asp-items="ViewBag.Statuses">
                        <option value="null">Any</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-2 col-md-2">
                <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn-clear">Clear</a>
            </div>
        </div>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        <button type="submit" name="actionButton" value="OrderNumber" class="btn p-0 fw-bold"
                        formaction="@Url.Action("Index", new { sortField = "OrderNumber", sortDirection = (ViewData["SortField"] as string == "OrderNumber" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            Order # @if (ViewData["SortField"] as string == "OrderNumber")
                            {
                                <span>@(ViewData["SortDirection"] as string == "asc" ? "▼" : "▲")</span>
                            }
                        </button>
                    </th>
                    <th>
                        <button type="submit" name="actionButton" value="CustomerName" class="btn p-0 fw-bold"
                        formaction="@Url.Action("Index", new { sortField = "CustomerName", sortDirection = (ViewData["SortField"] as string == "CustomerName" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            Customer @if (ViewData["SortField"] as string == "CustomerName")
                            {
                                <span>@(ViewData["SortDirection"] as string == "asc" ? "▼" : "▲")</span>
                            }
                        </button>
                    </th>
                    <th>Status</th>
                    <th>Machines</th>
                    <th>Package</th>
                    <th>Purchase Orders</th>
                    <th>Vendors</th>
                    <th>Estimated/Actual Completion</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderNumber</td>
                        <td>
                            @if (@item.Customer is null)
                            {
                                <div>N/A</div>
                            }
                            else
                            {
                                <div>@item.Customer.Name</div>
                            }

                        </td>
                        <td>@item.Status</td>
                        <td>
                            @foreach (var machine in item.Machines)
                            {
                                <div>@machine.MachineDescription</div>
                            }
                        </td>

                        <td class="my-auto">
                            @if (item.EngineeringPackage == null) {
                                <span>No Engineering Package</span>
                            } else {
                                @if (item.EngineeringPackage.Engineers.Count == 0)
                                {
                                    <span class="d-block">Eng: None</span>
                                }
                                else
                                {
                                    string engineers = "";

                                    @foreach (var eng in item.EngineeringPackage.Engineers)
                                    {
                                        engineers += @eng.Initials + "/";
                                    }
                                    <div>@engineers.Remove(@engineers.Length - 1)</div>

                                }
                                <div>Est. A: @item.EngineeringPackage.EstimatedApprovalSummary</div>
                                <div>Est. R: @item.EngineeringPackage.EstimatedReleaseSummary</div>

                                <div>Act. A: @item.EngineeringPackage.ActualApprovalSummary</div>
                                <div>Act. R: @item.EngineeringPackage.ActualReleaseSummary</div>
                            }


                        </td>

                        <td>
                            @foreach (var po in item.PurchaseOrders)
                            {
                                <div>@po.PurchaseOrderNumber</div>
                            }
                        </td>
                        <td>
                            @{
                                Dictionary<string, int> vendors = new Dictionary<string, int>();

                            
                                foreach (var purchaseOrder in item.PurchaseOrders)
                                {
                                    var vendorName = purchaseOrder.Vendor.Name;
                                    if (!vendors.ContainsKey(vendorName)) {
                                        vendors.Add(vendorName, item.PurchaseOrders.Where(p => p.Vendor.Name == vendorName).Count());
                                    }
                                }
                                if (vendors == null) {
                                    <div>N/A</div>
                                } else {
                                    foreach (var vendor in vendors)
                                    {
                                        @if (vendor.Value == 1)
                                        {
                                            <div>N/A</div>
                                        }
                                        else
                                        {
                                            <div>@vendor.Key (x@(vendor.Value))</div>
                                        }
                                    }
                                }
                                
                            }
                        </td>

                        <td>@item.EstimatedCompletionSummary <br /> @item.ActualCompletionSummary  </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SalesOrderID" class="ed-det-del-btn">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.SalesOrderID" class="ed-det-del-btn ">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <partial name="_PagingNavBar" />
    </div>
</form>
