@model IEnumerable<Haver_Boecker_Niagara.Models.SalesOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Sales Order</h1>

<p>
    <a asp-action="Create">Create New Sale Order</a>
</p>

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["SortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["SortField"]" />
    <div class="form-horizontal">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle"
                data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Filter/Search @ViewData["NumberFilters"]
        </button><br />
        <div class="collapse @ViewData["ShowFilter"]" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="control-label">Search Status:</label>
                        @Html.TextBox("SearchStatus", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Search Customer Name</label>
                        @Html.TextBox("searchCustomerName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="minPrice">Min Price:</label>
                        <input type="number" class="form-control" id="minPrice" name="minPrice" step="1" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="maxPrice">Max Price:</label>
                        <input type="number" class="form-control" id="maxPrice" name="maxPrice" step="1" />
                    </div>
                    <div class="form-group col-md-2 align-self-end">
                        <input type="submit" name="actionButton" value="Filter"
                               class="btn btn-outline-primary" id="btnFilter" />
                        <a asp-action="Index" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                <button type="submit" name="actionButton" value="Name" class="btn btn-toolbar"
                        formaction="@Url.Action("Index", new { sortField = "Price", sortDirection = (ViewData["SortField"] as string == "Price" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                    @Html.DisplayNameFor(model => model.Price)
                </button>
            </th>
            <th>
                    <button type="submit" name="actionButton" value="Name" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "Status", sortDirection = (ViewData["SortField"] as string == "Status" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.Status)
                    </button>
            </th>
            <th>
                    <button type="submit" name="actionButton" value="Name" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "Name", sortDirection = (ViewData["SortField"] as string == "Name" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.Customer.Name)
                    </button>
            </th>
            <th>
                    <button type="submit" name="actionButton" value="Name" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "OrderNumber", sortDirection = (ViewData["SortField"] as string == "OrderNumber" && ViewData["OrderNumber"] as string == "asc") ? "desc" : "asc" })">
                        @Html.DisplayNameFor(model => model.OrderNumber)
                    </button>
            </th>
            <th>
                    <button type="submit" name="actionButton" value="Name" class="btn btn-toolbar"
                            formaction="@Url.Action("Index", new { sortField = "EngineeringPackage", sortDirection = (ViewData["SortField"] as string == "EngineeringPackage" && ViewData["SortDirection"] as string == "asc") ? "desc" : "asc" })">
                            @Html.DisplayNameFor(model => model.EngineeringPackage)
                    </button>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineeringPackage.EngineeringPackageID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SalesOrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SalesOrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SalesOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <partial name="_PagingNavBar" />
</form>